.WrapHomePage {
  margin-top: 116px;
}

.WrapHomePage .TITLETILE {
  text-align: center;
  line-height: 65.61px;
  color: #3e3e3e;
  font-size: 55px;
  max-width: 920px;
  font-weight: 600;
}

.WrapHomePage button {
  background: #51bc40;
  margin-top: 50px;
  border: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 46px 20px 46px;
  border-radius: 10px;
  cursor: pointer;
}

.WrapHomePage button img {
  width: 31px;
  margin-right: 16px;
}

.WrapHomePage button span {
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.WrapHomePage .bigImg {
  margin-top: 100px;
  max-height: auto;
}

.WrapHomePage .bigImg img {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.WrapHomePage .bigImg .wrapKoob {
  margin-top: -230px;
}

.WrapHomePage .bigImg .wrapKoob .koob1 {
  position: relative;
  top: -50px;
  left: 100px;
}

.WrapHomePage .bigImg .wrapKoob .koob2 {
  position: relative;
  top: -540px;
  left: 200px;
  z-index: -1;
}

.WrapHomePage .bigImg .wrapKoob .koob3 {
  position: relative;
  top: -500px;
  left: 750px;
}

.WrapHomePage .bigImg:hover .wrapKoob .koob1 {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-transition: 1s;
  transition: 1s;
}

.WrapHomePage .bigImg:hover .wrapKoob .koob2 {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-transition: 1s;
  transition: 1s;
}

.WrapHomePage .bigImg:hover .wrapKoob .koob3 {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: -490px;
}

.WrapHomePage .bigImg:not(hover) .wrapKoob .koob1 {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-transition: 1s;
  transition: 1s;
}

.WrapHomePage .bigImg:not(hover) .wrapKoob .koob2 {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-transition: 1s;
  transition: 1s;
}

.WrapHomePage .bigImg:not(hover) .wrapKoob .koob3 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: -500px;
}

.WrapHomePage .titleMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3e3e3e;
  font-weight: 700;
  line-height: 30px;
  font-size: 25px;
}

.WrapHomePage .wrapInfoMe1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.WrapHomePage .wrapInfoMe1 .intoServers h2 {
  color: #3e3e3e;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  max-width: 750px;
}

.WrapHomePage .wrapInfoMe1 .intoServers .wrapUserInfoServ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 65px;
}

.WrapHomePage .wrapInfoMe1 .intoServers .wrapUserInfoServ .UserInfoServ {
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 52px 50px;
  position: relative;
}

.WrapHomePage .wrapInfoMe1 .intoServers .wrapUserInfoServ .UserInfoServ .cirleFull {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.WrapHomePage .wrapInfoMe1 .intoServers .wrapUserInfoServ .UserInfoServ .cirleFull .green {
  background: rgba(81, 188, 64, 0.15);
}

.WrapHomePage .wrapInfoMe1 .intoServers .wrapUserInfoServ .UserInfoServ .cirleFull .green .circle2 {
  background: #51bc40;
}

.WrapHomePage .wrapInfoMe1 .intoServers .wrapUserInfoServ .UserInfoServ .cirleFull .blue {
  background: rgba(97, 134, 244, 0.15);
}

.WrapHomePage .wrapInfoMe1 .intoServers .wrapUserInfoServ .UserInfoServ .cirleFull .blue .circle2 {
  background: #6186f4;
}

.WrapHomePage .wrapInfoMe1 .intoServers .wrapUserInfoServ .UserInfoServ .cirleFull .circle1 {
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
  height: 24px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.WrapHomePage .wrapInfoMe1 .intoServers .wrapUserInfoServ .UserInfoServ .cirleFull .circle1 .circle2 {
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
  width: 8px;
  height: 8px;
  margin: 0;
}

.WrapHomePage .wrapInfoMe1 .intoServers .wrapUserInfoServ .UserInfoServ .cirleFull h3 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 600;
  margin-left: 20px;
}

.WrapHomePage .wrapInfoMe1 .intoServers .wrapUserInfoServ .UserInfoServ .cirleFull .blueCol {
  color: #6186f4;
}

.WrapHomePage .wrapInfoMe1 .intoServers .wrapUserInfoServ .UserInfoServ .cirleFull .greenCol {
  color: #51bc40;
}

.WrapHomePage .wrapInfoMe1 .intoServers .wrapUserInfoServ .UserInfoServ .cirleFull span {
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
  color: #858585;
  max-width: 187px;
}

.WrapHomePage .wrapInfoMe1 .intoServers .wrapUserInfoServ .UserInfoServ:last-child {
  left: 50px;
}

.WrapHomePage .wrapInfoMe1 img {
  position: relative;
}

.WrapHomePage .wrapInfoMe2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 219px;
}

.WrapHomePage .wrapInfoMe2 img {
  max-width: 632px;
}

.WrapHomePage .wrapInfoMe2 .wrapSevrHost {
  position: relative;
  right: 50px;
}

.WrapHomePage .wrapInfoMe2 .wrapSevrHost h2 {
  font-weight: 600;
  font-size: 49px;
  line-height: 60px;
  color: #3e3e3e;
  margin-bottom: 120px;
}

.WrapHomePage .wrapInfoMe2 .wrapSevrHost .equipment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.WrapHomePage .wrapInfoMe2 .wrapSevrHost .equipment .sadas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f5f5f5;
  padding: 34px 24px 39px 39px;
  min-width: 145px;
  border-radius: 15px;
}

.WrapHomePage .wrapInfoMe2 .wrapSevrHost .equipment .sadas img {
  width: 50px;
  margin: 0;
}

.WrapHomePage .wrapInfoMe2 .wrapSevrHost .equipment .sadas span {
  margin: 32px 0 0 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #858585;
  font-weight: 600;
}

.WrapHomePage .wrapInfoMe3 {
  margin-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.WrapHomePage .wrapInfoMe3 img {
  z-index: 2;
}

.WrapHomePage .wrapInfoMe3 .infoDonateHomePage h2 {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: #3e3e3e;
  max-width: 600px;
  margin: 0;
}

.WrapHomePage .wrapInfoMe3 .infoDonateHomePage .wrapInfoDonate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 65px;
}

.WrapHomePage .wrapInfoMe3 .infoDonateHomePage .wrapInfoDonate .WrapFirstEl {
  background: url("../IMG/AdminBgrd.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #6186f4;
  -webkit-box-shadow: 0 0 50px 50px #6186f4 inset;
          box-shadow: 0 0 50px 50px #6186f4 inset;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  max-width: 417px;
  padding: 4px 4px 39px 45px;
}

.WrapHomePage .wrapInfoMe3 .infoDonateHomePage .wrapInfoDonate .WrapFirstEl img {
  margin: 0;
  position: relative;
  left: 10px;
  bottom: -20px;
}

.WrapHomePage .wrapInfoMe3 .infoDonateHomePage .wrapInfoDonate .WrapFirstEl .wrapInfoAdmin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.WrapHomePage .wrapInfoMe3 .infoDonateHomePage .wrapInfoDonate .WrapFirstEl .wrapInfoAdmin :first-child {
  margin: 0;
  font-size: 35px;
  line-height: 42px;
  text-transform: uppercase;
  color: #ffffff;
}

.WrapHomePage .wrapInfoMe3 .infoDonateHomePage .wrapInfoDonate .WrapFirstEl .wrapInfoAdmin :last-child {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.WrapHomePage .wrapInfoMe3 .infoDonateHomePage .wrapInfoDonate .WrapLastEl {
  background-color: #f5f5f5;
  padding: 44px 74px 40px 51px;
  border-radius: 15px;
  position: relative;
  left: 30px;
  z-index: 0;
}

.WrapHomePage .wrapInfoMe3 .infoDonateHomePage .wrapInfoDonate .WrapLastEl .wrapLinkMarketAndArrow {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 44px;
}

.WrapHomePage .wrapInfoMe3 .infoDonateHomePage .wrapInfoDonate .WrapLastEl .wrapLinkMarketAndArrow a {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #e4b91f;
  margin-right: 15px;
  text-decoration: none;
}

.WrapHomePage .wrapInfoMe3 .infoDonateHomePage .wrapInfoDonate .WrapLastEl .wrapLinkMarketAndArrow .arrow {
  position: relative;
  top: -10px;
  width: 80px;
  height: 50px;
  margin: 0;
}

.WrapHomePage .wrapInfoMe3 .infoDonateHomePage .wrapInfoDonate .WrapLastEl .wrapLinkMarketAndArrow .arrow div {
  position: relative;
  top: 22px;
  width: 45px;
  height: 4px;
  background-color: #e4b91f;
  left: 0;
  display: block;
  margin: 0;
}

.WrapHomePage .wrapInfoMe3 .infoDonateHomePage .wrapInfoDonate .WrapLastEl .wrapLinkMarketAndArrow .arrow div::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 4px;
  top: -5px;
  right: -6px;
  background-color: #e4b91f;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
}

.WrapHomePage .wrapInfoMe3 .infoDonateHomePage .wrapInfoDonate .WrapLastEl .wrapLinkMarketAndArrow .arrow div::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 4px;
  top: 5px;
  right: -6px;
  background-color: #e4b91f;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
}

.WrapHomePage .wrapInfoMe3 .infoDonateHomePage .wrapInfoDonate .WrapLastEl .wrapLinkMarketAndArrow:hover .arrow {
  -webkit-animation: arrow-1 1s linear infinite;
          animation: arrow-1 1s linear infinite;
}

@-webkit-keyframes arrow-1 {
  0% {
    left: 0;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0;
  }
}

@keyframes arrow-1 {
  0% {
    left: 0;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0;
  }
}
/*# sourceMappingURL=HomePage.module.css.map */