.WrapHomePage {
    margin-top: 116px;
    .TITLETILE {
        text-align: center;
        line-height: 65.61px;
        color: #3e3e3e;
        font-size: 55px;
        max-width: 920px;
        font-weight: 600;
    }
    button {
        background: #51bc40;
        margin-top: 50px;
        border: none;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 20px 46px 20px 46px;
        border-radius: 10px;
        cursor: pointer;
        img {
            width: 31px;
            margin-right: 16px;
        }
        span {
            color: white;
            font-size: 18px;
            font-weight: 700;
        }
    }
    .bigImg {
        margin-top: 100px;
        max-height: auto;
        img {
            pointer-events: none;
            user-select: none;
        }
        .wrapKoob {
            margin-top: -230px;
            .koob1 {
                position: relative;
                top: -50px;
                left: 100px;
            }
            .koob2 {
                position: relative;
                top: -540px;
                left: 200px;
                z-index: -1;
            }
            .koob3 {
                position: relative;
                top: -500px;
                left: 750px;
            }
        }
    }
    .bigImg:hover {
        .wrapKoob {
            .koob1 {
                transform: rotate(-10deg);
                transition: 1s;
            }
            .koob2 {
                transform: rotate(10deg);
                transition: 1s;
            }
            .koob3 {
                transform: rotate(20deg);
                transition: 0.5s;
                top: -490px;
            }
        }
    }
    .bigImg:not(hover) {
        .wrapKoob {
            .koob1 {
                transform: rotate(10deg);
                transition: 1s;
            }
            .koob2 {
                transform: rotate(-10deg);
                transition: 1s;
            }
            .koob3 {
                transform: rotate(0deg);
                transition: 0.5s;
                top: -500px;
            }
        }
    }
    .titleMe {
        display: flex;
        justify-content: center;
        color: #3e3e3e;
        font-weight: 700;
        line-height: 30px;
        font-size: 25px;
    }
    .wrapInfoMe1 {
        display: flex;
        align-items: center;

        .intoServers {
            h2 {
                color: #3e3e3e;
                font-size: 50px;
                font-weight: 600;
                line-height: 60px;
                max-width: 750px;
            }
            .wrapUserInfoServ {
                display: flex;
                margin-top: 65px;
                .UserInfoServ {
                    background-color: #f5f5f5;
                    border-radius: 15px;
                    padding: 52px 50px;
                    position: relative;
                    .cirleFull {
                        display: flex;
                        align-items: center;
                        .green {
                            background: rgba(81, 188, 64, 0.15);
                            .circle2 {
                                background: #51bc40;
                            }
                        }
                        .blue {
                            background: rgba(97, 134, 244, 0.15);
                            .circle2 {
                                background: #6186f4;
                            }
                        }
                        .circle1 {
                            clip-path: circle(50%);
                            height: 24px;
                            width: 24px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 0;
                            .circle2 {
                                clip-path: circle(50%);
                                width: 8px;
                                height: 8px;
                                margin: 0;
                            }
                        }
                        h3 {
                            font-size: 60px;
                            line-height: 70px;
                            font-weight: 600;
                            margin-left: 20px;
                        }
                        .blueCol {
                            color: #6186f4;
                        }
                        .greenCol {
                            color: #51bc40;
                        }
                        span {
                            font-size: 18px;
                            line-height: 23px;
                            font-weight: 600;
                            color: #858585;
                        }
                    }
                }
                .UserInfoServ:last-child {
                    left: 50px;
                }
            }
        }
        img {
            position: relative;
        }
    }
}
