@font-face {
    font-family: "Gilroy-Medium";
    src: url("../Font/GilroyBold.ttf") format("truetype");
    font-style: normal;
}
* {
    max-width: 1400px;
    margin: 0 auto;
    // text-align: center;
    font-family: "Gilroy-Medium";
}