.wrapShop {
  margin-top: 40px;
  max-width: 1400px;
}

.wrapShop .wrapButns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapShop .wrapButns button {
  max-width: 330px;
  width: 100%;
  height: 60px;
  cursor: pointer;
  background-color: #fdfdfd;
  border: none;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #858585;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrapShop .wrapButns .activeBut {
  background: rgba(81, 188, 64, 0.15);
  border-radius: 10px;
  color: #51bc40;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrapShop .wrapPageDodateBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.wrapShop .wrapPageDodateBlock .wrapDonateBlock {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  max-height: 225px;
  margin-top: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  padding: 0 40px 0 40px;
}

.wrapShop .wrapPageDodateBlock .wrapDonateBlock img {
  width: 310px;
  position: relative;
  top: -40px;
}

.wrapShop .wrapPageDodateBlock .wrapDonateBlock .infoDonate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: end;
  padding: 0 0 30px 0;
}

.wrapShop .wrapPageDodateBlock .wrapDonateBlock .infoDonate:first-child {
  font-size: 35px;
  line-height: 43px;
  text-transform: uppercase;
  color: #ffffff;
}

.wrapShop .wrapPageDodateBlock .wrapDonateBlock .infoDonate:last-child {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.wrapShop .wrapPageDodateBlock .one {
  background: url("./../IMG/Voin1.png") no-repeat;
  background-size: cover;
  -webkit-box-shadow: 100px 0px 250px 0px #61ecf4 inset;
          box-shadow: 100px 0px 250px 0px #61ecf4 inset;
  background-color: #61ecf4;
  width: 100%;
}

.wrapShop .wrapPageDodateBlock .two {
  background: url("./../IMG/Minecraft-Survival-Episode-59-Automatic-Wool-Farm-41.png") no-repeat;
  background-size: cover;
  -webkit-box-shadow: 300px 50px 250px 50px #ff7121 inset;
          box-shadow: 300px 50px 250px 50px #ff7121 inset;
  background-color: #ff7121;
  width: 100%;
}

.wrapShop .wrapPageDodateBlock .three {
  background: url("./../IMG/Rectangle79.png") no-repeat;
  background-size: cover;
  -webkit-box-shadow: 100px 0px 250px 0px #f4b161 inset;
          box-shadow: 100px 0px 250px 0px #f4b161 inset;
  background-color: #ffe921;
  width: 100%;
}

.wrapShop .wrapPageDodateBlock .four {
  background: url("./../IMG/AdminBgrd.png") no-repeat;
  background-size: cover;
  -webkit-box-shadow: 100px 0px 250px 0px #6186f4 inset;
          box-shadow: 100px 0px 250px 0px #6186f4 inset;
  background-color: #6186f4;
  width: 100%;
}

.wrapShop .wrapPageDodateBlock .fife {
  background: url("./../IMG/Rectangle80.png") no-repeat;
  background-size: cover;
  -webkit-box-shadow: 100px 0px 250px 0px #ff21b4 inset;
          box-shadow: 100px 0px 250px 0px #ff21b4 inset;
  background-color: #ff21b4;
  width: 100%;
}

.wrapShop .wrapPageDodateBlock .six {
  background: url("./../IMG/Rectangle81.png") no-repeat;
  background-size: cover;
  -webkit-box-shadow: 100px 0px 250px 0px #ff2121 inset;
          box-shadow: 100px 0px 250px 0px #ff2121 inset;
  background-color: #f46161;
  width: 100%;
}

.wrapShop .wrapPageDodateBlock .seven {
  background: url("./../IMG/Rectangle82.png") no-repeat;
  background-size: cover;
  -webkit-box-shadow: 200px 0px 250px 0px #ff21f6 inset;
          box-shadow: 200px 0px 250px 0px #ff21f6 inset;
  background-color: #f161f4;
  width: 100%;
}

.wrapShop .wrapPageDodateBlock .eight {
  background: url("./../IMG/Rectangle49.png") no-repeat;
  background-size: cover;
  -webkit-box-shadow: 50px 0px 250px 0px #ed21ff inset;
          box-shadow: 50px 0px 250px 0px #ed21ff inset;
  background-color: #f461e6;
  width: 100%;
}
/*# sourceMappingURL=ShopDonate.module.css.map */