.WrapProfileUsers {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;

    .rigtInfo {
        max-width: 1050px;
        width: 100%;
        .wrapBut {
            display: flex;
            justify-content: space-between;
            button {
                font-size: 16px;
                line-height: 19px;
                color: #858585;
                border: none;
                cursor: pointer;
                width: 100%;
                padding-top: 22px;
                padding-bottom: 22px;
                margin-right: 18px;
                background-color: white;
                border-radius: 10px;
                text-transform: uppercase;
            }
            button:last-child {
                margin: 0;
            }
            .activButns {
                color: #51bc40;
                background: rgba(81, 188, 64, 0.15);
            }
        }
    }
}
