.PlayAndCopy {
    .rightInfo {
        display: flex;
        flex-direction: column;
        span {
            font-size: 17px;
            font-weight: 700;
            line-height: 21px;
            text-transform: uppercase;
            color: #ffffff;
            text-align: right;
        }
        .playS {
            text-align: right;
            margin-bottom: 16px;
            span {
                margin-right: 12px;
                cursor: pointer;
            }
            img {
                cursor: pointer;
            }
        }
        .playS1 {
            text-align: right;
            cursor: pointer;
            display: flex;
            align-items: center;
            span {
                margin-right: 12px;
            }
        }
    }
}
