.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
}

.modal .modalDialog {
  width: 100%;
  border-radius: 15px;
  max-width: 700px;
  background: white;
  position: relative;
  margin: 0 20px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-name: slide-in;
          animation-name: slide-in;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.modal .modalDialog .modalHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 57px;
  margin-bottom: 23px;
}

.modal .modalDialog .modalHeader .modalTitle {
  margin: 0;
  font-size: 25px;
  line-height: 31px;
  text-transform: uppercase;
  color: #3e3e3e;
}

.modal .modalDialog .modalBody {
  margin: 23px 56px 20px 56px;
}

.modal .modalDialog .modalBody input[type="text"] {
  width: 100%;
  padding: 27px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  color: #858585;
  background: #f7f7f7;
  border-radius: 10px;
  border: none;
}

.modal .modalDialog .zxWrapBut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 76px;
}

.modal .modalDialog .zxWrapBut button {
  max-width: 575px;
  margin: 0;
  padding: 24px 168px;
  background: #51bc40;
  border: none;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slide-in {
  from {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-in {
  from {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=Modal.module.css.map */