.WrapFooter {
    margin-top: 140px;
    margin-bottom: 70px;
    .firsBlogFoot {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        span {
            color: #858585;
            font-size: 18px;
            line-height: 22px;
            opacity: 0.3;
            margin: 0 8px 0 0;
        }
        img {
            margin: 0;
        }
    }
    .LastBlogFoot {
        margin-top: 17px;
        max-width: 270px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img{
            margin: 0;
            opacity: 0.3;
        }
    }
}
